@import "tailwindcss";

:root {
  color-scheme: light dark;
  font-family: "Raleway", sans-serif;
  --bg-dark: #090e16;
  --bg-purple: #7b4ae2;
  --bg-rose: #c83267;
  --bg-navbar: rgba(123, 74, 226, 0.05);
  --bg-summary: rgba(123, 74, 226, 0.15);
}

.bg_dark {
  background-color: var(--bg-dark);
}

.bg_purple {
  background-color: var(--bg-purple);
}

.bg_navbar {
  background-color: var(--bg-navbar);
}

.bg_summary {
  background-color: var(--bg-summary);
}
